
@{
    ViewBag.Title = "Proveedor";
}

<h2>Listado de Proveedores</h2>

<div id="grillaProveedor">
    <table id="grid" class="table table-responsive table-bordered" style="border:solid; column-width:auto;">
        <thead>
            <tr><th>Id</th><th>NIT</th><th>Nombre</th><th>Persona Contacto</th><th>Teléfono</th><th>Dirección</th></tr>
        </thead>
    
        <tbody>
        
        </tbody>
        
    </table>
</div>

<script src="~/Scripts/Proveedor/Proveedor.js"></script>