
@{
    ViewBag.Title = "NuevoProveedor";
}
<h2>NuevoProveedor</h2>

<div class="form-group col-lg-12">
    <div class="col-lg-2"></div>
    <div class="col-lg-9">
        <div class="form-group col-lg-3">
            <label>Nombre Proveedor:<span style="color:red; height:6em;"> (*)</span></label>

        </div>
        <div class="form-group col-lg-3">
            <input id="txtNombreProveedor" type="text" />

        </div>
        <div class="form-group col-lg-3">
            <label>Nit:<span style="color:red; height:6em;"> (*)</span></label>
        </div>
        <div class="form-group col-lg-3">
            <input id="txtNitProveedor" type="text" />
        </div>
        <div class="form-group col-lg-3">
            <label>Persona Contacto:</label>
        </div>
        <div class="form-group col-lg-3">
            <input id="txtPersonaContacto" type="text" />
        </div>
        <div class="form-group col-lg-3">
            <label>Teléfono:</label>
        </div>
        <div class="form-group col-lg-3">
            <input id="txtTelefono" type="number" />
        </div>
        <div class="form-group col-lg-3">
            <label>Dirección:</label>
        </div>
        <div class="form-group col-lg-3">
            <input id="txtDireccion" type="text" />
        </div>
    </div>
    
</div>
<input type="button" id="btnGuardar" value="Guardar" />

<script src="~/Scripts/Proveedor/NuevoProveedor.js"></script>
